<p id="notice"><%= notice %></p>

<h1>Regdetails</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Semester</th>
      <th>Course</th>
      <th>Gpa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regdetails.each do |regdetail| %>
      <tr>
        <td><%= regdetail.user %></td>
        <td><%= regdetail.semester %></td>
        <td><%= regdetail.course %></td>
        <td><%= regdetail.gpa %></td>
        <td><%= link_to 'Show', regdetail %></td>
        <td><%= link_to 'Edit', edit_regdetail_path(regdetail) %></td>
        <td><%= link_to 'Destroy', regdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regdetail', new_regdetail_path %>
