<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @regdetail.user %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @regdetail.semester %>
</p>

<p>
  <strong>Course:</strong>
  <%= @regdetail.course %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @regdetail.gpa %>
</p>

<%= link_to 'Edit', edit_regdetail_path(@regdetail) %> |
<%= link_to 'Back', regdetails_path %>
